<section class="container-license">
    <header class="header-container">
        <h1 class="title-container">Premium</h1>
        <p class="description-container">Para pequenos e médios negócios que buscam uma gestão avançada para um crescimento saudável</p>
    </header>
    <main class="main-container">
        <section class="ofert-container">
            <h2 class="value">R$<span class="value-plan">49,90</span>/mês*</h2>
        </section>
        <div class="button-buy-plan">
            <button class="buy-plan">Escolher plano</button>
        </div>
        
    </main>
    <footer class="footer-container">
        <section class="products-plan">
            <div class="item-plan"><i class="bi bi-person-circle"></i><p>Até 8 usuários</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Gestão de estoque com controle de custos</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Frente de caixa</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Relatórios de vendas</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Limite de 200 itens cadastrados</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Armazenamento de 100MB de dados</p></div>
        </section>
        <footer class="mensager-container">
            <h1 class="rodape">Crescer</h1>
        </footer>
    </footer>
</section>