<section class="container-license">
    <header class="header-container">
        <h1 class="title-container">Basic</h1>
        <p class="description-container">Para empreendedores em fase inicial que buscam organizar seu negócio sem sobrecarga de recursos</p>
    </header>
    <main class="main-container">
        <section class="ofert-container">
            <h2 class="value">R$<span class="value-plan">9,90</span>/mês*</h2>
        </section>
        <div class="button-buy-plan">
            <button class="buy-plan">Escolher plano</button>
        </div>
        
    </main>
    <footer class="footer-container">
        <section class="products-plan">
            <div class="item-plan"><i class="bi bi-person-circle"></i><p>Até 2 usuários</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Gestão de estoque</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Frente de caixa</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Relatórios de vendas</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Limite de 50 itens cadastrados</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Armazenamento de 20MB de dados</p></div>
        </section>
        <footer class="mensager-container">
            <h1 class="rodape">Começar</h1>
        </footer>
    </footer>
</section>
