<section class="container-license">
    <header class="header-container">
        <h1 class="title-container">Ultimate AI (Busness)</h1>
        <p class="description-container">Grandes empresas que desejam otimizar processos e obter insights com o apoio de IA</p>
    </header>
    <main class="main-container">
        <section class="ofert-container">
            <h2 class="value">R$<span class="value-plan">249,90</span>/mês*</h2>
        </section>
        <div class="button-buy-plan">
            <button class="buy-plan">Escolher plano</button>
        </div>
        
    </main>
    <footer class="footer-container">
        <section class="products-plan">
            <div class="item-plan"><i class="bi bi-check"></i><p>Até 20 usuários</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Todos os recursos do plano Busness</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Planejamento estratégico com IA</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Suporte com a equipe STS 24h</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Limite de 1000 itens cadastrados</p></div>
            <div class="item-plan"><i class="bi bi-check"></i><p>Armazenamento de 1GB de dados</p></div>
        </section>
        <footer class="mensager-container">
            <h1 class="rodape">Potencializar</h1>
        </footer>
    </footer>
</section>